html,
body {
  background-color: #222;
  font-family: 'Heebo', sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  border-bottom: 1px solid #eee;
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: row;
  height: 75%;
  position: relative;
  width: 70%;
}

header {
  box-sizing: border-box;
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 10%;  
  display: flex;
  align-items: center;
  z-index: 1;
}

nav {
  width: 60%;
  border-bottom: 1px solid #eee;
  left: 0;
  padding: 0 0 10px 0;
}

nav ul { margin: 0; padding: 0; }

nav ul li {
  display: inline-block;
  font-size: 0.75em;
}

nav ul li a {
  text-decoration: none;
  transition: background-color 0.3s linear;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  color: #fff;
  display: inline-block;
  padding: 3px 8px;
  font-weight: 900;
}

hr { height: 1px; width: 100%; background-color: #eee; border: 0px solid #eee; margin: 20% auto; }

h1 {
  color: #ddd;
  line-height: 0.8em;
  font-size: 3em;
  font-weight: 100;
  margin: -55px 0 0 0;
  height: 20px;
  padding: 0;
}

h1 strong { letter-spacing: 4px; }

h2 {
  margin: 0 0 15px 0;
  font-weight: 100;
  font-family: 'Bitter', serif;
}

#content-container {
  background-color: #0ce9ff;
  width: 65%;
  min-height: 500px;
  box-sizing: border-box;
  right: 0;
  position: relative;
  bottom: -50px;
  z-index: 20;
  margin: 0 auto;
  padding: 50px 60px;
  -webkit-animation: scale-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#content-container a:link, #content-container a:visited {
  text-decoration: none;
  font-weight: 400;
  color: rgba(0,0,0,0.65);
  transition: all .3s linear;
}

#content-container a:hover { color: #000; }


/* Colors for Section Content */

#content-container.about, #goTo-about:hover, #goTo-about.active {
  background-color: #0ce9ff;
}

#content-container.talks, #goTo-talks:hover, #goTo-talks.active {
  background-color: #f19efb;
}

#content-container.lessons, #goTo-lessons:hover, #goTo-lessons.active {
  background-color: #ff6060;
}

#goTo-resume:hover, #goTo-resume.active {
  background-color: #60ffa0;
}

#content-container.contact, #goTo-contact:hover, #goTo-contact.active {
  background-color: #ffd60c;
}

.section-container {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) .3s both;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) .3s both;
}

.section-container ol {
  list-style-type: decimal-leading-zero;
  padding: 0;
}

.section-container ol li {
  margin-left: 25px;
  padding: 10px;
}

.section-container ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.section-container ul li {
  margin: 15px 0;
  padding: 0;
  font-weight: 200;
}

i {
  display: inline-block;
  width: 20px;
  text-align: center;
}

#talks p {
  text-indent: -25px;
  padding: 0 0 0 35px;
}

#talks span.event-date {
  color: #820092;
  font-size: 0.8em;
  text-indent: 0;
  display: block;
}


@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}


@-webkit-keyframes fade-in { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@media only screen and (max-width : 1096px) {
  #content-container {
    width: 50%;
    padding: 30px 40px;
    font-size: 0.95em;
  }
}

@media only screen and (max-width : 880px) {
  .container { border-bottom: 0; }

  #content-container {
    width: 100%;
    min-height: 400px;
    position: absolute;
    top: 200px;
  }

@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}




  nav {
    position: absolute;
    width: 100%;
    top: 160px;
  }

  header { position: absolute; top: 0; }
}


