html { 
  height: 100%;
  position: relative;
}

body {
  background-color: #222;
  font-family: 'Heebo', sans-serif;
  margin: 0 auto;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}


header {
  width: 70%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  margin: 15% auto;
  position: relative;  
  display: flex;
  align-items: center;
  z-index: 10;
/*  border-right: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;*/
}

hr { height: 1px; width: 100%; background-color: #eee; border: 0px solid #eee; margin: 20% auto; }

.right { display: block; text-align: right; }

h1 {
  color: #ddd;
  line-height: 0.8em;
  font-size: 3em;
  font-weight: 100;
  margin: -55px 0 0 0;
  height: 20px;
  padding: 0;
}

h1 strong {
  letter-spacing: 4px;
}

h2 {
  font-family: 'Bitter', serif;
}

#content-container {
  background-color: #0ce9ff;
  width: 40%;
  position: absolute;
  top: -40px;
  box-sizing: border-box;
  left: 30%;
  z-index: 20;
  right: 00px;
}

#content-container a:link, #content-container a:visited {
  text-decoration: none;
  font-weight: 400;
  color: rgba(0,0,0,0.65);
  transition: all .3s linear;
}

#content-container a:hover {
  color: #000;
  /*border-bottom: 1px solid rgba(0,0,0,0.25);*/
}

#content-container.contact, 
nav ul li a#goTo-contact:hover,
nav ul li a#goTo-contact.active {
  background-color: #ffd60c;
}

#content-container.about, 
nav ul li a#goTo-about:hover,
nav ul li a#goTo-about.active {
  background-color: #0ce9ff;
}

#content-container.talks, 
nav ul li a#goTo-talks:hover,
nav ul li a#goTo-talks.active {
  background-color: #f19efb;
}

#content-container.lessons, 
nav ul li a#goTo-lessons:hover,
nav ul li a#goTo-lessons.active {
  background-color: #ff6060;
}

nav ul li a#goTo-resume:hover,
nav ul li a#goTo-resume.active {
  background-color: #60ffa0;
}


.scale-up-ver-bottom {
  -webkit-animation: scale-up-ver-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-ver-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

ol {
  padding: 0px 18px;
}

ol li {
  margin: 0;
  padding: 10px 0;
  font-weight: 200;
}

#contact ol, #talks ol {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

#contact ol li, #talks ol li {
  margin: 15px 0;
  padding: 0;
}

#contact ol li i, #talks ol i {
  display: inline-block;
  width: 20px;
  text-align: center;
}

#talks ol li p {
  margin: 0 23px;
  font-size: 0.8em;
  display: block;
  color: #820092;
}

nav {
  position: absolute;
  top: -50px;
  left: 155px;
}

nav ul {
/*  margin: 35px 0 10px 0;*/
}

nav ul li {
  display: inline-block;
  font-size: 0.75em;
}

nav ul li a {
  text-decoration: none;
  transition: background-color 0.3s linear;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  color: #fff;
  display: inline-block;
  padding: 3px 8px;
  font-weight: 900;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 15% 35%;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  height: 100%;
}

section { 
  background-color: #fff;
  margin: 0 auto;
  padding: 50px 60px;
}



h2 {
  margin: 0 0 15px 0;
  font-weight: 100;
  /*background: repeating-linear-gradient(45deg,   #ffd78f,   #f9d189 0px,   #ffd78f 1px,   #ffd78f 5px);*/
}


section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section ul li {
  padding: 5px 0px;
}


#contact, #talks, #lessons {
  display: none;
}

.section-container {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) .3s both;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) .3s both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-8-5 9:35:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2019-8-5 10:8:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
